:root{
--text-color: hsl(227, 10%, 46%);
--background-color: hsl(185, 75%, 39%);

}

@font-face {
    font-family: 'kumbh sans';
    src: url(../fonts/KumbhSans-VariableFont_YOPQ\,wght.ttf)
}

body{ 
    display: flex;
    font-family: 'kumbh sans', 'Courier New', Courier, monospace;    
    justify-content: center;
    align-items: center;
    font-size: 14px;
   
   
    background-color: var(--background-color);
color: var(--text-color);
min-height: 90vh;
padding: 30px;
}


.cartao{
   
    background-color: white;
    
    border-radius: 10px;
    width: 350px;
    height: 370px;

  
}

.cartao strong{
    color: black;
    font-weight: 700;
}

.cartao .relative-h{
    position: relative;
    bottom: 25px;
    font-weight: 400;

}

.cartao .info-pessoal{
    display: flex;
    padding-top: 20px;
    
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid hsl(240, 8%, 70%); ;
  
   
}

.cartao .info-pessoal img{
    border-radius: 50px;
   
}



.estatistica-conta{
    display: flex;
   
    width: 350px;
    height: 120px;
    
    flex-flow: row wrap;
    justify-content: space-evenly;
}


   


.item{
    width: 100px;
    height: 100px;
    
}

.w-700{
    display: flex;
    font-weight: 700;
    color: black;
    justify-content: center;
}

.w-400{
    display: flex;
    font-weight: 400;
    justify-content: center;
    position: relative;
    bottom: 15%;
    
}

@media (max-width: 576px) {

    .cartao{
   
        background-color: white;
        
        border-radius: 10px;
        width: 320px;
        height: 360px;
    
      
    }

    

    .item{
        width: 80px;
        height: 80px;
        
    }

    .item-3{
        padding-right: 20px;
    }

    .item-1{
        padding-left: 10px;
    }
    

}



